@import "../../styles/commumStyles.css";


.box{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 12px 2px var(--color-black);
    margin: 20px 0px;
    cursor: pointer;
}

.box div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.box h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2rem;
    font-family: var(--font-dancing);
    font-weight: bold;
    font-size: 2em;
    padding: 12px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
    text-shadow: 
        -1px -1px 0px #FFF, 
        -1px 1px 0px #FFF,      
        1px -1px 0px #FFF,    
        1px 0px 0px #FFF;
}

@media (max-width: 425px){
    .box h3{
        padding: 0px 10px;
    }
}
