@import '../../styles/commumStyles.css';

.text{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    background: var(--color-tertiary);
}

@media (max-width: 425px){
    .text{
        font-size: .7rem;
        width: 100%;
    }
}

@media (max-width: 375px){
    .text{       
        font-size: .6rem;
    }
}

@media (max-width: 320px){
    .text{       
        font-size: .6rem;
    }
}