.section_note{
    grid-area: note;
}

.note{
    width: 60%;
    height: 12vh;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--color-primary);
    text-shadow: 
        -1px -1px 0px #FFF, 
        -1px 1px 0px #FFF,      
        1px -1px 0px #FFF,    
        1px 0px 0px #FFF;
}

.critic{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.avaliation{
    display: flex;
    margin-left: 20px;
}

.avaliation__text{    
    width: 80%;
    margin: 30px 5px;
    padding: 12px;
    color: var(--color-primary);
    background-color: var(--color-secundary);;
    display: flex;
    justify-content: center;
    border-radius: 0px 30px 30px 30px;
}

.text{
    font-size: 1.5rem;
    width: 90%;
}

.criticsContainer{
    display: grid;
    height: 40vh;
    grid-template-columns: auto auto auto;
    gap: 0px 30px;
}

@media (max-width: 768px){
    .note{
        width: 90%;
    }

    .critic{
        justify-content: space-between;
    }

    .criticsContainer{
        width: 50%;
    }
}

@media (max-width: 425px){
    .critic{
        margin-top: 20px;
        flex-direction: column-reverse;
    }

    .text{
        font-size: 1rem;
    }

    .criticsContainer{
        width: 100%;
        gap: 15px 15px;
        grid-template-columns: auto auto auto;
    }

    .note{
        width: 100%;
        margin-top: 20px;
    }
    .avaliation__text{
        width: 80%;
    }
}

@media (max-width: 320px){
    .text{
        font-size: .8rem;
        margin-right: 20px;
        margin: 0;
    }
    .criticsContainer{
        gap: 10px 15px;
    }
}