@import '../../styles/commumStyles.css';


.modalIcon{
    width: 100%;
    height: 7%;
    margin: 0;
    padding: 2px 0;
    text-align: end;
    color: var(--color-black);
}

.closeModal :hover{
    color: var(--color-gray);
}

.content{
    width: 100%;
    display: flex;
}

.perfil{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-black);
    justify-content: center;
}

.perfil img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var(--color-black);
    margin-bottom: 20px;
}

.perfil h1{
    font-family: var(--font-roboto);
    font-size: 2em;
}

.description{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description_person {
    background-color: var(--color-black);
    padding: 10px;
    border-radius: 10px;
}

.description_person h3{
    font-family: var(--font-dancing);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.8rem;
    margin: 20px 0;
    color: var(--color-white);
}

.movies{
    width: 80%;
    height: 40vh;
    display: flex;
}

.movies div{
    width: 30%;
    height: 40vh;
    margin: 5px 10px 0 0px;
}

@media (max-width: 1024px){
    .modalIcon{
        margin-bottom: 10px;
    }
}

@media (max-width: 768px){
    .modalIcon{
        margin-bottom: 5px;
    }

    .perfil img{
        width: 250px;
        height: 250px;
    }

    .description_person h3{
        font-size: 1.5rem;
    }
    
    .movies div{
        width: 100%;
    }
}

@media (max-width: 425px){
    .modalIcon{
        height: 2vh;
    }
    .closeModal{
        height: 5vh;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .perfil{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .perfil img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 0;
    }

    .perfil h1{
        font-family: var(--font-roboto);
        font-size: 2em;
    }

    .description{
        width: 100%;
    }

    .description h3{
        font-size: 1.2rem;
        margin: 5px;
    }

    .movies{
        
        height: auto;
    }

    .movies div{
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 375px){
    .movies div{
        width: 110px;
    }
}

@media (max-width: 320px){
    .modalIcon{
        height: 1vh;
    }
    
    .perfil h1{
        font-size: 1.4rem;
    }

    .movies{
        height: 30vh;

    }
    
    .movies div{
        width: 100px;
        height: 25vh;
    }
}